.citySection {
  /* background-color: #1a1a1a;  */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0; /* remove extra top/bottom padding */
   margin-bottom: 10%;
}

.cityCard {
  padding: 0px  25px ;
  background: #EEEEEE;
  padding: 0; /* remove padding */
  border-radius: 8px;
  max-width: 1300px;
  width: 100%;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  text-align: center;
  overflow: hidden;
  margin: 0; /* remove any extra margin */
}

.videoWrapper {
  width: 100%;
  overflow: hidden;
  position: relative;
  height: 0;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
}

.video {
  position: absolute;
  top: -35%; /* move video upward to hide top white space */
  left: 0;
  height: 160%; /* increase height to fully cover top */
  object-fit: cover;



  height: 160%;
  object-fit: cover;

  transform: translateY(20%); /* keep vertical adjustment only */
  transform-origin: center top;





}

.cityName {
  font-size: 2rem;
  font-weight: 500;
  margin: 10px 0 20px 0; /* spacing below video */
}

.brushStroke {
  width: 100%;
  max-width: 500px;
  margin: 10px auto 20px;
  display: block;
}
